@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 250 1000;
  src: url('420250127184248537273.woff') format('woff2-variations'),
       url('img2.gif') format('woff-variations');     
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 300;
  src: url('img2.gif');
  src: url('img2.gif') format('embedded-opentype'),
       url('420250127184248537273.woff') format('woff2-variations'),
       url('img2.gif') format('woff-variations'),
       url('img2.gif') format('woff2'),
       url('img2.gif') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 400;
  src: url('img2.gif');
  src: url('img2.gif') format('embedded-opentype'),
       url('420250127184248537273.woff') format('woff2-variations'),
       url('img2.gif') format('woff-variations'),  
       url('img2.gif') format('woff2'),
       url('img2.gif') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 500;
  src: url('img2.gif');
  src: url('img2.gif') format('embedded-opentype'),
       url('420250127184248537273.woff') format('woff2-variations'),
       url('img2.gif') format('woff-variations'),  
       url('img2.gif') format('woff2'),
       url('img2.gif') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 600;
  src: url('img2.gif');
  src: url('img2.gif') format('embedded-opentype'),
       url('420250127184248537273.woff') format('woff2-variations'),
       url('img2.gif') format('woff-variations'),  
       url('img2.gif') format('woff2'),
       url('img2.gif') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 700;
  src: url('img2.gif');
  src: url('img2.gif') format('embedded-opentype'),
       url('420250127184248537273.woff') format('woff2-variations'),
       url('img2.gif') format('woff-variations'),  
       url('img2.gif') format('woff2'),
       url('img2.gif') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 800;
  src: url('img2.gif');
  src: url('img2.gif') format('embedded-opentype'),
       url('420250127184248537273.woff') format('woff2-variations'),
       url('img2.gif') format('woff-variations'),  
       url('img2.gif') format('woff2'),
       url('img2.gif') format('woff');
}
@font-face {
  font-family: 'TildaSans';
  font-style: normal;
  font-weight: 900;
  src: url('img2.gif');
  src: url('img2.gif') format('embedded-opentype'),
       url('420250127184248537273.woff') format('woff2-variations'),
       url('img2.gif') format('woff-variations'),  
       url('img2.gif') format('woff2'),
       url('img2.gif') format('woff');
}
